.navbar {
  text-align: center;
}

.navbar-item {
  list-style: none;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  display: inline-block;
  margin-right: 72px;
}

.navbar-link {
  text-decoration: none;
  color: #ff0000;
}

img {
  width: 100%;
}

.main-title {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 3.3px;
  text-align: center;
  text-transform: uppercase;
  color: #373737;
  margin-top: 50px;
}

.main-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin-top: 38px;
  margin: 38px 67px 0px 67px;
}

.main-button {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  width: 191px;
  height: 51px;
  left: 544.5px;
  top: 557px;
  background: #ff0000;
  border-radius: 4px;
  border: 0;
  margin: 0 auto;
  margin-top: 80px;
  display: block; 
  cursor: pointer;
}

.copyright {
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;
color: #373737;
text-align: end;
margin: 82px 67px 29px 0px;
}