.container {
  width: 1100px;
  margin: 0 auto;
}

.header-main-wrapper {
  background-color: #171717;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  margin-bottom: 120px;
}

.call-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #e4b564;
  cursor: pointer;
}

.call-button-img {
  padding-left: 25px;
}

.call-button-link {
  color: #e4b564;
  padding: 10px 25px 10px 0;
}

.main-content-benefits {
  margin-bottom: 160px;
}

.main-content-title {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 41px;
}

.main-content-paragraph {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 41px;
}

.benefits-posts-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 360px);
  grid-gap: 30px;
}

.benefits-post {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.benefits-post-1 {
  grid-column: 1 / 3;
  background: #634f2c;
}

.benefits-post-2 {
  grid-column: 3 / 5;
  background: #b4a385;
}

.benefits-post-3 {
  grid-column: 5 / 7;
  background: #e4b564;
}

.benefits-post-4 {
  grid-column: 1 / 4;
  background: #635a4a;
}

.benefits-post-5 {
  grid-column: 4 / 7;
  background: #b08c4d;
}

.main-content-tech {
  padding-bottom: 160px;
}

.tech-posts-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 170px 32px 80px 100px 170px;
  grid-gap: 25px;
}

.tech-post {
  display: flex;
  flex-direction: column;
  font-family: 'Gilam';
  font-size: 20px;
  padding-top: 44px;
  padding-left: 52px;
  color: #FFFFFF;
}

.text-bold {
  font-weight: 600;
}

.tech-post-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: #0E0E0E;
}

.tech-post-2 {
  grid-column: 2/ 3;
  grid-row: 1 / 4;
  background: #242424;
}

.tech-post-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background: #1F1F1F;
}

.tech-post-4 {
  grid-column: 1 / 2;
  grid-row: 3 / 6;
  background: #1F1F1F;
}

.tech-post-5 {
  grid-column: 2 / 3;
  grid-row: 4 / 6;
  background: #E4B564;
}

.tech-post-6 {
  grid-column: 3 / 4;
  grid-row: 2 / 5;
  background: #0E0E0E;
}

.tech-post-7 {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  background: #0A0909;
}

.partners-section {
  padding-top: 170px;
  background-color: #0E0E0E;
  padding-bottom: 170px;
}

.partners-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.partners-title {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
}

.all-projects-button {
  color: #E4B564;
  font-family: 'Circe';
  font-size: 18px;
  border: 1px solid #E4B564;
  padding: 15px 40px;
}

.partners-posts {
  display: flex;
  flex-wrap: wrap;
}

.partners-post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% / 3);
  height: 300px;
  font-family: 'Gilam';
  font-style: normal;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
}

.partner-post-1 {
  background: #634F2C;
}

.partner-post-2 {
  background: #B4A385;
}

.partner-post-3 {
  background: #E4B564;
}

.partner-post-4 {
  background: #635A4A;
}

.partner-post-5 {
  background: #B08C4D;
}

.partner-post-6 {
  background: #634F2C;
}