body {
    font-family: "Roboto", sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    width: 1028px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 22px;
}

.logo-header {
    display: flex;
    gap: 8px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.logo-img {
    width: 53px;
    height: 47px;
    background-image: url(../img/logo-sprites.png);
    background-position: -83px -10px;
}

.logo-header:hover .logo-img {
    background-position: -10px -10px;
}

.logo-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.logo-text-selected {
    font-weight: 700;
    font-size: 29px;
    color: #FFFFFF;
}

.logo-header:hover {
    color: #F26522;
}

.logo-header:hover .logo-text-selected {
    color: #F26522;
}

.links-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 21px;
}

.link-header {
    font-size: 18px;
    color: #FFFFFF;
}

.link-header:hover {
    color: #F26522;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 260px);
    column-gap: 50px;
    row-gap: 37px;
    margin-bottom: 50px;
}

.post {
    display: flex;
    justify-content: center;
    position: relative;
}

.post-link {
    position: relative;
    color: #FFFFFF;
}

.post-img {
    width: 100%;
    margin-bottom: 20px;
}

.post-desc {
    display: flex;
    flex-direction: column;
    background-color: #F26522;
    width: 275px;
    position: absolute;
    bottom: 40px;
    padding: 5px 15px;
    opacity: 0;
}

.post-title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #FFFFFF;
}

.post:hover .post-desc {
    opacity: 1;
    transition: 0.3s;
}

.post:hover .post-title {
    color: #F26522;
}

.price-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.price {
    font-size: 20px;
}

.link-desc {
    font-size: 14px;
}

.link-desc::after {
    content: "";
    border: solid #FFFFFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-left: 16px;
}

.title-desc {
    font-size: 10px;
    margin-bottom: 8px;
}


.copyright {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #FFFFFF;
}