.container {
  width: 1280px;
  margin: 0 auto;
}

header {
  margin-bottom: 50px;
}

.logo-header {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}

.logo-header-dekor {
  color: #4bcaff;
}

.navbar-header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: #35444f;
  height: 69px;
}

.navbar-header-item {

}

.navbar-header-link {
  display: block;
  font-size: 24px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 22px 40px;
  color: #ffffff;
}

.navbar-header-item:hover .navbar-header-link {
  background-color: #222f3a;
}

.main {
  display: flex;
  justify-content: space-between;
}

.nav-aside {
  border: 1px solid #000000;
  min-width: 350px;
}

.nav-aside-item {

}

.nav-aside-link {
  font-size: 27px;
  display: block;
  height: 100%;
  color: #485863;
  padding: 26px 0 26px 60px;
}

.nav-aside-item:hover .nav-aside-link {
  background-color: rgba(99, 105, 110, 0.48);
  padding-left: 80px;
  color: #000000;
  transition: 0.2s;
}

.main-content {
  max-width: 850px;
}

.img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  min-height: 530px;
  margin-bottom: 38px;
}

.img-main {

}

.img-main:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.text-main {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-bottom: 37px;
}

.footer {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #B4B7B9;
}

.nav-footer {
  display: flex;
}

.nav-footer-item {

}

.nav-footer-link {
  font-size: 28px;
  display: block;
  height: 100%;
  padding: 20px 60px 20px 0;
  color: #0c1927;
}

.nav-footer-item:hover .nav-footer-link {
  color: #3181A6;
}

.copyright-footer {
  font-size: 24px;
  color: #010101;
}
