body {
    font-family: "Ubuntu", "Roboto", sans-serif;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 54px;
}


.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-header {
    width: 1200px;
    margin: 0 auto;
}

.logo-header {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}

.logo-header:hover {
    transition: 0.2s;
    color: #226D47;
}

.links-header-wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
}

.link-header {}

.svg-header:hover path {
    transition: 0.2s;
    fill: #226D47;
}

.links-border {
    height: 19px;
    width: 1px;
    border: solid rgba(255, 255, 255, 0.9);
}

.authorization-header {
    font-size: 16px;
    color: #FFFFFF;
}

.log-in-header {
    font-size: 16px;
    color: #FFFFFF;
}

.log-in-header:hover {
    transition: 0.2s;
    color: #226D47;
}

main {
    position: relative;
}

.container-form {
    width: 444px;
    background-color: #FFFFFF;
    margin: 0 auto;
    position: relative;
    padding-bottom: 2px;
}

.container {
    width: 300px;
    margin: 0 auto;
}

.container::after {
    content: '';
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
    top: 31px;
}

.header-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    margin-bottom: 15px;
}

.title-form {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 20px;
    color: #434343;
}

.log-in-form {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
}

.log-in-form:hover {
    transition: 0.2s;
    border-bottom: 1px solid #3CB878;
}

.links-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.facebook-link {
    display: flex;
    justify-content: center;
    background-color: #305DB8;
    min-width: 147px;
    min-height: 48px;
    align-items: center;
    border-radius: 4px;
    gap: 38px;
    position: relative;
}

.facebook-link:hover {
    background: #022263;
}

.span-link {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.google-link {
    background-color: #DF4A32;
    display: flex;
    justify-content: center;
    min-width: 147px;
    min-height: 48px;
    align-items: center;
    border-radius: 4px;
    gap: 38px;
}

.google-link:hover {
    background: #AB1F09;
}

.form-separator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.separator-border {
    width: 150px;
    border: 1px solid #F2F2F2;
}

.input-form {
    width: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 0 15px 20px;
    margin-bottom: 16px;
}

input::placeholder {
    color: #BEBEBE;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

input:focus {
    outline: none;
    border: 0;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.checkbox-container {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #434343;
    position: relative;
    width: fit-content;
    margin-left: 29px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 8px;
}

.svg-checkbox {
    opacity: 0;
}

.checkbox-container input:checked~.checkmark {
    background: url('../img/checkmark.svg');
}

.legal-link {
    color: #434343;
}

.legal-link:hover {
    transition: 0.2s;
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.form-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-confirm:hover {
    transition: 0.2s;
    background: #01813F;
}